<main>
  <div class="flex-column">
    <div class="container w-75">
    <h1 class="mt-4 text-center">Create A New Movie List</h1>

    <div class="container w-75">
      <%= simple_form_for [@list] do |l| %>
        <%= l.input :name, placeholder: 'Thriller'%>
        <%= l.submit "Create", class: "btn btn-primary" %>
        <%= link_to 'Back', lists_path, class:"btn btn-dark" %>
      <% end %>
    </div>
  </div>

  <div class="mt-3 text-center">
    <div style="width:55%;height:0;padding-bottom:0;"><iframe src="https://giphy.com/embed/vaRCdgM0fLNrW" width="55%" height="55%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/zooey-deschanel-joseph-gordon-levitt-500-days-of-summer-vaRCdgM0fLNrW"></a></p>
  </div>
</main>

  <footer class="footer">
      <div class="footer-links">
        <a href="https://github.com/dancosta-fed"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/_dancosta_/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/daniel-de-oliveira-costa-590515140/"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Created by &copy Dan Costa
      </div>
  </footer>
</div>