<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTX9ydPu_WGRcDl7oL-SHuHEMugIS9E4uzx2lZkYOg6JanwQhj7" alt="" width="20" height="40">
      </a>
    </div>
  </nav>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to 'My List', lists_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add New', new_list_path %>
        </li>
      </ul>
     </div>
  </div>
</div>